extends layout


block content
  link( rel="import" href="/components/pretty-print-object/pretty-print-object.html" )
  br
  a.waves-effect.btn( href="/perf") < back
  h3= title
  p records: #{records.length}
  ul
    each rec in records
      if rec
        div.collapsible(data-collapsible='expandable')
          div.collapsible-header.truncate= rec.url
            //- i.mdi-content-add-box
          div.collapsible-body
            div.collapsible(data-collapsible='expandable')

              //- metrics summary section
              div
                div.collapsible-header.truncate Metrics
                  //- i.mdi-content-add-box
                  i.mdi-content-add-box
                div.collapsible-body
                  if rec.data.metrics
                    pretty-print-object( data='#{ JSON.stringify(rec.data.metrics) }' )
                    //- for key in Object.keys(rec.data.metrics)
                    //-   div.row
                    //-     div.col.s6 #{key}
                    //-     div.col.s6 #{rec.data.metrics[key]}

              //- offenders summary section
              div
                div.collapsible-header.truncate='Offenders'
                  //- i.mdi-content-add-box
                  i.mdi-content-add-box
                div.collapsible-body.col.s10.offset-2
                  if rec.data.offenders
                    ul.collapsible(data-collapsible='expandable')
                      //- performance-offenders( items='#{ JSON.stringify({"banana":["val1","val2"],"somethingElse":"good","anotherThing":["thing1","thing2","thing3"]}) }' )
                      //- very slow loop, replace with on-demand client-side module?
                      pretty-print-object( data='#{ JSON.stringify(rec.data.offenders) }' )
                      //- for key in Object.keys(rec.data.offenders)
                      //-   div
                      //-     div.collapsible-header.truncate #{key}
                      //-       i.mdi-content-add-box
                      //-       i.mdi-content-add-box
                      //-       i.mdi-content-add-box
                      //-     div.collapsible-body
                      //-       //- p #{JSON.stringify(rec.data.offenders[key])}
                      //-       each item in rec.data.offenders[key]
                      //-         p #{item}
