extends layout


block content
  h3= title
  p records: #{records.length}
  ul
    each rec in records
      if rec
        div.collapsible(data-collapsible='expandable')
          div.collapsible-header.truncate= rec.data.url
            i.mdi-content-add-box
          div.collapsible-body
            div.collapsible(data-collapsible='expandable')
              div
                div.collapsible-header.truncate='Quick Metrics'
                  i.mdi-content-add-box
                  i.mdi-content-add-box
                div.collapsible-body
                  if rec.data.metrics
                    //- # of requests
                    div
                      b 
                        | # of requests: 
                      | #{rec.data.metrics.requests}
                    //- size of total download
                    div
                      b
                        | Total download size: 
                      | #{rec.data.metrics.bodySize}
                    //- cache perfection
                    div
                      b Cache perfection:
                      div oldCachingHeaders: #{rec.data.metrics.oldCachingHeaders} 
                      div cachingDisabled: #{rec.data.metrics.cachingDisabled}
                      div cachingTooShort: #{rec.data.metrics.cachingTooShort}
                      div cachingNotSpecified: #{rec.data.metrics.cachingNotSpecified}
                      div cachePasses: #{rec.data.metrics.cachePasses} 
                      div cacheMisses: #{rec.data.metrics.cacheMisses} 
                      div cacheHits: #{rec.data.metrics.cacheHits} 
              div
                div.collapsible-header.truncate='Metrics'
                  i.mdi-content-add-box
                  i.mdi-content-add-box
                div.collapsible-body
                  if rec.data.metrics
                    for key in Object.keys(rec.data.metrics)
                      div.row
                        div.col.s6= key
                        div.col.s6= rec.data.metrics[key]
              div
                div.collapsible-header.truncate='Offenders'
                  i.mdi-content-add-box
                  i.mdi-content-add-box
                div.collapsible-body.col.s10.offset-2
                  if rec.data.offenders
                    ul.collapsible(data-collapsible='expandable')
                      for key in Object.keys(rec.data.offenders)
                        div
                          div.collapsible-header.truncate= key
                            i.mdi-content-add-box
                            i.mdi-content-add-box
                            i.mdi-content-add-box
                          div.collapsible-body
                            //- very slow loop, replace with on-demand client-side module
                            each item in rec.data.offenders[key]
                              p= item
